[submodule "environments/environments/panda-gym"]
	path = environments/environments/panda-gym
	url = https://github.com/SiqiLii/panda-gym.git
[submodule "environments/panda-gym"]
	path = environments/panda-gym
	url = https://github.com/SiqiLii/panda-gym.git
